body 
{
    background-color: #3a3b3C;
    color: white;
}

h1
{
    text-align: center;
}

p 
{
    border: 2px solid white;
    padding: 30px;
}

a:link
{
    color: powderblue;
}

a:visited
{
    color: lightpink;
}

.contactinfo th
{
    border: 2px solid lightgray;
    background-color: powderblue;
    text-align: center;
    padding: 30px;
}

.contactinfo td
{
    border: 2px solid white;
    text-align: center;
    padding: 30px;
}
